<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.aghayezaban.mrlanguageturkish">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.farsitel.bazaar.permission.PAY_THROUGH_BAZAAR" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_aghayezaban_squer"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.mrlanguageturkish.b_s1p21"></activity>
        <activity android:name="com.example.mrlanguageturkish.dictionary" />
        <activity android:name="com.example.mrlanguageturkish.translator" />
        <activity android:name="com.example.mrlanguageturkish.a_navigation_drawer" />
        <activity android:name="com.example.mrlanguageturkish.c_music_47" />
        <activity android:name="com.example.mrlanguageturkish.c_music_46" />
        <activity android:name="com.example.mrlanguageturkish.c_music_45" />
        <activity android:name="com.example.mrlanguageturkish.c_music_44" />
        <activity android:name="com.example.mrlanguageturkish.c_music_43" />
        <activity android:name="com.example.mrlanguageturkish.c_music_42" />
        <activity android:name="com.example.mrlanguageturkish.c_music_41" />
        <activity android:name="com.example.mrlanguageturkish.c_music_40" />
        <activity android:name="com.example.mrlanguageturkish.c_music_39" />
        <activity android:name="com.example.mrlanguageturkish.c_music_38" />
        <activity android:name="com.example.mrlanguageturkish.c_music_37" />
        <activity android:name="com.example.mrlanguageturkish.c_music_36" />
        <activity android:name="com.example.mrlanguageturkish.c_music_35" />
        <activity android:name="com.example.mrlanguageturkish.c_music_34" />
        <activity android:name="com.example.mrlanguageturkish.c_music_33" />
        <activity android:name="com.example.mrlanguageturkish.c_music_32" />
        <activity android:name="com.example.mrlanguageturkish.c_music_31" />
        <activity android:name="com.example.mrlanguageturkish.c_music_30" />
        <activity android:name="com.example.mrlanguageturkish.c_music_29" />
        <activity android:name="com.example.mrlanguageturkish.c_music_28" />
        <activity android:name="com.example.mrlanguageturkish.c_music_27" />
        <activity android:name="com.example.mrlanguageturkish.c_music_26" />
        <activity android:name="com.example.mrlanguageturkish.c_music_25" />
        <activity android:name="com.example.mrlanguageturkish.c_music_24" />
        <activity android:name="com.example.mrlanguageturkish.c_music_23" />
        <activity android:name="com.example.mrlanguageturkish.c_music_22" />
        <activity android:name="com.example.mrlanguageturkish.c_music_21" />
        <activity android:name="com.example.mrlanguageturkish.c_music_20" />
        <activity android:name="com.example.mrlanguageturkish.c_music_19" />
        <activity android:name="com.example.mrlanguageturkish.c_music_18" />
        <activity android:name="com.example.mrlanguageturkish.c_music_17" />
        <activity android:name="com.example.mrlanguageturkish.c_music_16" />
        <activity android:name="com.example.mrlanguageturkish.c_music_15" />
        <activity android:name="com.example.mrlanguageturkish.c_music_14" />
        <activity android:name="com.example.mrlanguageturkish.c_music_13" />
        <activity android:name="com.example.mrlanguageturkish.c_music_12" />
        <activity android:name="com.example.mrlanguageturkish.c_music_11" />
        <activity android:name="com.example.mrlanguageturkish.c_music_10" />
        <activity android:name="com.example.mrlanguageturkish.c_music_9" />
        <activity android:name="com.example.mrlanguageturkish.c_music_8" />
        <activity android:name="com.example.mrlanguageturkish.c_music_7" />
        <activity android:name="com.example.mrlanguageturkish.c_music_6" />
        <activity android:name="com.example.mrlanguageturkish.c_music_5" />
        <activity android:name="com.example.mrlanguageturkish.c_music_4" />
        <activity android:name="com.example.mrlanguageturkish.c_music_3" />
        <activity android:name="com.example.mrlanguageturkish.c_music_2" />
        <activity android:name="com.example.mrlanguageturkish.c_music_1" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_3_14" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_3_13" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_3_12" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_3_11" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_3_10" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_3_9" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_3_8" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_3_7" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_3_6" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_3_5" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_3_4" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_3_3" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_3_2" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_3_1" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_2_27" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_2_26" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_2_25" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_2_24" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_2_23" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_2_22" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_2_21" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_2_20" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_2_19" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_2_18" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_2_17" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_2_16" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_2_15" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_2_14" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_2_13" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_2_12" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_2_11" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_2_10" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_2_9" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_2_8" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_2_7" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_2_6" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_2_5" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_2_4" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_2_3" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_2_2" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_2_1" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_1_2_20" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_1_2_19" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_1_2_18" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_1_2_17" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_1_2_16" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_1_2_15" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_1_2_14" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_1_2_13" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_1_2_12" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_1_2_11" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_1_2_10" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_1_2_9" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_1_2_8" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_1_2_7" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_1_2_6" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_1_2_5" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_1_2_4" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_1_2_3" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_1_2_2" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_1_2_1" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_1_1_21" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_1_1_20" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_1_1_19" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_1_1_18" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_1_1_17" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_1_1_16" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_1_1_15" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_1_1_14" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_1_1_13" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_1_1_12" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_1_1_11" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_1_1_10" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_1_1_9" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_1_1_8" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_1_1_7" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_1_1_6" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_1_1_5" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_1_1_4" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_1_1_3" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_1_1_2" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_1_1_1" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_1_2" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_1_1" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_3_31" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_3_30" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_3_29" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_3_28" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_3_27" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_3_26" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_3_25" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_3_24" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_3_23" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_3_22" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_3_21" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_3_20" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_3_19" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_3_18" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_3_17" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_3_16" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_3_15" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_3_14" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_3_13" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_3_12" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_3_11" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_3_10" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_3_9" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_3_8" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_3_7" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_3_6" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_3_5" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_3_4" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_3_3" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_3_2" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_3_1" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_3_31" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_3_30" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_3_29" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_3_28" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_3_27" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_3_26" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_3_25" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_3_24" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_3_23" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_3_22" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_3_21" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_3_20" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_3_19" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_3_18" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_3_17" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_3_16" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_3_15" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_3_14" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_3_13" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_3_12" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_3_11" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_3_10" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_3_9" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_3_8" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_3_7" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_3_6" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_3_5" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_3_4" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_3_3" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_3_2" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_3_1" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_3" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_2_30" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_2_29" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_2_28" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_2_27" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_2_26" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_2_25" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_2_24" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_2_23" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_2_22" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_2_21" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_2_20" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_2_19" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_2_18" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_2_17" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_2_16" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_2_15" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_2_14" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_2_13" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_2_12" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_2_11" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_2_10" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_2_9" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_2_8" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_2_7" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_2_6" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_2_5" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_2_4" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_2_3" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_2_2" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_2_1" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_2" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_1_30" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_1_29" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_1_28" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_1_27" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_1_26" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_1_25" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_1_24" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_1_23" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_1_22" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_1_21" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_1_20" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_1_19" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_1_18" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_1_17" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_1_16" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_1_15" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_1_14" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_1_13" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_1_12" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_1_11" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_1_10" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_1_9" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_1_8" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_1_7" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_1_6" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_1_5" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_1_4" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_1_3" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_1_2" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_1_1" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2_1" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_4_20" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_4_19" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_4_18" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_4_17" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_4_16" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_4_15" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_4_14" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_4_13" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_4_12" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_4_11" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_4_10" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_4_9" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_4_8" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_4_7" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_4_6" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_4_5" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_4_4" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_4_3" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_4_2" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_4_1" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_3_20" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_3_19" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_3_18" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_3_17" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_3_16" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_3_15" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_3_14" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_3_13" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_3_12" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_3_11" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_3_10" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_3_9" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_3_8" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_3_7" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_3_6" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_3_5" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_3_4" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_3_3" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_3_2" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_3_1" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_2_20" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_2_19" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_2_18" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_2_17" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_2_16" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_2_15" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_2_14" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_2_13" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_2_12" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_2_11" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_2_10" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_2_9" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_2_8" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_2_7" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_2_6" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_2_5" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_2_4" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_2_3" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_2_2" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_2_1" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_1_20" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_1_19" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_1_18" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_1_17" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_1_16" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_1_15" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_1_14" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_1_13" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_1_12" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_1_11" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_1_10" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_1_9" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_1_8" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_1_7" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_1_6" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_1_5" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_1_4" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_1_3" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_1_2" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_1_1" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_4" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_3" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_2" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1_1" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_3" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_2" />
        <activity android:name="com.example.mrlanguageturkish.c_serials_1" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p20_7" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p20_6" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p20_5" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p20_4" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p20_3" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p20_2" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p20_1" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p19_5" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p19_4" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p19_3" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p19_2" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p19_1" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p18_5" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p18_4" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p18_3" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p18_2" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p18_1" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p17_5" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p17_4" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p17_3" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p17_2" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p17_1" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p16_5" />
        <activity android:name="com.example.mrlanguageturkish.sample_AudioPlayer_view" />
        <activity android:name="com.example.mrlanguageturkish.sample_video_view" />
        <activity android:name="com.example.mrlanguageturkish.sample_pdf_view" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p16_3" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p16_2" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p16_4" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p16_1" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p15_6" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p15_5" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p15_4" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p15_3" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p15_2" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p15_1" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p14_5" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p14_4" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p14_3" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p14_2" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p14_1" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p13_5" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p13_4" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p13_3" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p13_2" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p13_1" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p12_4" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p12_3" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p12_2" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p12_1" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p11_5" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p11_4" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p11_3" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p11_2" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p11_1" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p10_5" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p10_4" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p10_3" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p10_2" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p10_1" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p9_5" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p9_4" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p9_3" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p9_2" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p9_1" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p8_4" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p8_3" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p8_2" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p8_1" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p7_4" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p7_3" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p7_2" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p7_1" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p6_4" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p6_3" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p6_2" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p6_1" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p5_5" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p5_4" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p5_3" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p5_2" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p5_1" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p4_4" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p4_3" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p4_2" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p4_1" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p3_4" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p3_3" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p3_2" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p3_1" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p2_6" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p2_5" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p2_4" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p2_3" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p2_2" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p2_1" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p1_2" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p1_1" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p0" />
        <activity android:name="com.example.mrlanguageturkish.fragment_multimedia_music" />
        <activity android:name="com.example.mrlanguageturkish.fragment_multimedia_cartoons" />
        <activity android:name="com.example.mrlanguageturkish.fragment_multimedia_serials" />
        <activity android:name="com.example.mrlanguageturkish.fragment_multimedia_film" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_3" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_2" />
        <activity android:name="com.example.mrlanguageturkish.c_cartoons_1" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p20" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p19" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p18" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p17" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p16" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p15" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p14" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p13" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p12" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p11" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p10" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p9" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p8" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p7" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p6" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p5" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p4" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p3" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p2" />
        <activity android:name="com.example.mrlanguageturkish.b_s1p1" />
        <activity android:name="com.example.mrlanguageturkish.a_user_manual" />
        <activity android:name="com.example.mrlanguageturkish.a_contact_us" />
        <activity android:name="com.example.mrlanguageturkish.a_about_us" />
        <activity
            android:name="com.example.mrlanguageturkish.SplashActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.mrlanguageturkish.MainActivity" />
    </application>

</manifest>